{% extends 'base.html' %}

{% block title %}
  Мир Авто
{% endblock %}

{% block body %}
  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1>Подержанные автомобили дёшево.<br />Самый большой выбор в России!</h1>
    </div>
    <div class="auto-home-promo__header">
      <h1 data-testid="titlePage-text" class="auto-home-promo__title">Быстро выбрать и выгодно купить <br class="is-sx" />авто от официального дилера</h1><div data-testid="subtitlePage-text" class="auto-home-promo__description">
        Найдите самые выгодные цены на покупку, обслуживание и ремонт авто<!--  -->
        <!--  -->
        <!--  -->
      </div>
    </div>
  </div>
{% endblock %}
