{% extends 'base.html' %}

{% block title %}
  Обновляем пост
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Обновление статьи</h1>
    <form method="post">
        <input type="text" name="name_car" id="name_car" class="form-control" value="{{ article.name_car}}" placeholder="Введите название авто"><br>
        <textarea name='age_car' id='age_car' class='form-control' placeholder="Введите год авто">{{ article.age_car }}</textarea><br>
        <textarea name='mileage_car' id='mileage_car' class='form-control' placeholder="Введите пробег">{{article.mileage_car}}</textarea><br>
        <textarea name='price_car' id='price_car' class='form-control' placeholder="Введите новую цену">{{article.price_car}}</textarea><br>
        <input type="submit" class="btn btn-success" value="обновить">
    </form>        
</div>
{% endblock %}