{% extends 'base.html' %}

{% block title %}
Все посты
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>
    {%if articles|length > 0 %}
        {% for elements in articles %}
        <div class="alert alert-info">
            <h2>{{elements.name_car}}</h2>
            <p>{{elements.age_car}}</p>
            <p><b>Дата: {{elements.date.date()}}</b></p>
            <a href="/posts/{{elements.id}}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor%}
    {% else %}
    <p> У нас еще нет статей на сайте</p>
    {% endif %}
</div>
{% endblock %}